/* @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap'); */
/* IR A GOOGLE FONTS, BUSCAR FUENTE, GET FONTS, GET EMBEB CODE, @IMPORT, SELECT CSS ARE YOU NEED */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* *{
    margin: 0;
    padding: 0;
} */
body{
    background-color: #000;
    color:#F6F6F6;
    height: 100vh;
    box-sizing: border-box;
}

/* strong{
    color: #22d4fd;
} */

.titulo{
    color: #22d4fd;
}

/* .texto-destacado{
    color: #FF5733;
    font-family: 'Lucida Sans';
 } */

.titulo-blog{
    /* color:rgb(233, 96, 5); */
    color: white;
    font-size: 36px;
    /* font-family: sans-serif; */
    font-family: "Krona One", serif;
}

/* .urgente{
    color: rgb(255, 0, 0);
    padding: 20px;
    border-radius: 15px;
    border : 2px solid-black;
    background-color: rgb(238, 225, 39);
} */

.box-model{
    color:white;
    margin: 5px;
    padding: 5px;
    border: 10px solid black;
    font-size:20px;
    /* border: 5px solid red; */
    /* content: url("https://google.com.co"); */
}

/* p {
   margin: 10px;
   border: 2px solid black;
   padding: 5px;
} */

.container{
    display: flex;
    align-items: center;
    margin:10% 15%;
    justify-content: space-between;
}

.container_content{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap:40px; /*espacios entre objetos  */
}

.content_text{
    font-family: "Montserrat", serif;
    font-size: 24px;
    /* font-weight: 100; */  /* especifica grueso de la letra */
}

.enlaces_botones{
    display: flex;
    /* justify-content:space-between ; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:32px;
}

.enlaces_botones_link{
    width: 381px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding:21.5Px 0;
    text-decoration: none;
    color:#f6f6f6;
    font-family: "Montserrat", serif;
    border: 2px solid #22d4fd;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.enlaces_botones_link:hover{
    background-color: #272727;
}

/* .border_img{
    border: 1px solid white;
} */

/* .imagen{
    width: 200px;
    justify-content: left;
    display: block;    
} */

.enlaces_subtitulo{
    font-family: 'Krone One', sans-serif;
    font-size:30px;
    font-weight: 600;  /* regular */
 }

 /* .div_hover{
    color: blue;
    font-size:25px;
 } */

 /* .div_hover:hover{
    background-color : yellow;
    font-size:30px;
 } */

 