/* @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap'); */
/* IR A GOOGLE FONTS, BUSCAR FUENTE, GET FONTS, GET EMBEB CODE, @IMPORT, SELECT CSS ARE YOU NEED */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --first-color: #000;
    --second-color: #F6F6F6;
    --third-color:#22d4fd;
    --fourth-color:#272727;
    --blue-hover: #007bff;

    --monserrat-font: "Montserrat", sans-serif;
    --krona-font: "Krona One", serif;
}   

body{
    /* height: 100vh; */
    background-color: var(--first-color);
    color:var(--second-color);
    box-sizing: border-box;
}

/* strong{
    color: #22d4fd;
} */

.titulo{
    color: var(--third-color);
}

/* .texto-destacado{
    color: #FF5733;
    font-family: 'Lucida Sans';
 } */

 /* .urgente{
    color: rgb(255, 0, 0);
    padding: 20px;
    border-radius: 15px;
    border : 2px solid-black;
    background-color: rgb(238, 225, 39);
} */

.box-model{
    color:white;
    margin: 5px;
    padding: 5px;
    border: 10px solid black;
    font-size:20px;
    /* border: 5px solid red; */
    /* content: url("https://google.com.co"); */
}

/* p {
   margin: 10px;
   border: 2px solid black;
   padding: 5px;
} */

/*este es PRESENTACION */
.container{    
    /* margin:8% 15%; se cambio curso 8, tema 4 */
    padding: 7% 15%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
/* presentacion_contenido*/
.container_content{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap:40px; /*espacios entre objetos  */
}

/* presentacion_contenido_titulo  */
.container_content_title{
    color: white;
    font-size: 36px;
    font-family: var(--krona-font);
}

.container_content_text{
    font-family: var(--monserrat-font);
    font-size: 24px;
    /* font-weight: 100; */  /* especifica grueso de la letra */
}

/* agregar en desafio - insercion de curriculum*/
/* presentacion__contenido__texto a */
.container_content_text a{
    text-decoration: none;
    color: var(--third-color);
}

.enlaces_botones{
    display: flex;
    /* justify-content:space-between ; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:32px;
}

.enlaces_botones_link{
    width: 381px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding:21.5Px 0;
    text-decoration: none;
    color:#f6f6f6;
    font-family: var(--monserrat-font);
    border: 2px solid var(--third-color);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.enlaces_botones_link:hover{
    background-color: var(--fourth-color);
    cursor: pointer;
}

/* .border_img{
    border: 1px solid white;
} */

/* .imagen{
    width: 200px;
    justify-content: left;
    display: block;    
} */

.enlaces_subtitulo{
    font-family: var(--krona-font);
    font-size:30px;
    font-weight: 600;  /* regular */
 }

 /* .div_hover{
    color: blue;
    font-size:25px;
 } */

 /* .div_hover:hover{
    background-color : yellow;
    font-size:30px;
 } */

/* footer */
.footer{
    background-color: var(--third-color);
    padding: 24px;
    color:#000;
    text-align: center;
    font-family: var(--monserrat-font);
    font-size: 24px;
    font-weight: 400;
}

.header{
    padding: 2% 0% 0% 15%;
      
}

.header_menu {
    display: flex;
    gap: 80px;
    /* justify-content: center;
    align-items: center; */
}

.header_menu_link {
    font-family: var(--monserrat-font);
    font-size: 24px;
    font-weight: 600;
    color: var(--third-color);
    text-decoration: none;
    /* margin: 0 10px;
    padding: 5px 10px;
     */
}

.header_menu_link:hover {
    color: var(--blue-hover);
}


.header_menu_link {
    padding: 10px 15px;
}

