/* @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap'); */
/* IR A GOOGLE FONTS, BUSCAR FUENTE, GET FONTS, GET EMBEB CODE, @IMPORT, SELECT CSS ARE YOU NEED */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --first-color: #000;
    --second-color: #F6F6F6;
    --third-color:#22d4fd;
    --fourth-color:#272727;
    --blue-hover: #007bff;

    --monserrat-font: "Montserrat", sans-serif;
    --krona-font: "Krona One", serif;
}   

/* por defecto un font-size : 16px == 1rem */
body{
    /* height: 100vh; */
    background-color: var(--first-color);
    color:var(--second-color);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
      
}

.header_menu {
    display: flex;
    gap: 80px;
    /* justify-content: center;
    align-items: center; */
}

.header_menu_link {
    font-family: var(--monserrat-font);
    font-size: 1.5rem; /* estaba 24px;*/
    font-weight: 600;
    color: var(--third-color);
    text-decoration: none;
}

/*este es PRESENTACION */
.container{    
    /* margin:8% 15%; se cambio curso 8, tema 4 */
    padding: 7% 15%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    /* gap:82px; */
}

/* presentacion_contenido*/
.container_content{
    width: 50%;  /* was 615px; */
    display: flex;
    flex-direction: column;
    gap:40px; /*espacios entre objetos  */
}

/* presentacion_contenido_titulo  */
.container_content_title{
    /* color: white; */
    /* display: inline-flex; */
    /* width: 50%; */
    font-size: 2.25rem; /* 36px; */
    font-family: var(--krona-font);
}

.titulo-destaque{
    color: var(--third-color);
}

.container_content_text{
    font-family: var(--monserrat-font);
    font-size: 1.5rem; /* estaba 24px;*/
    /* font-weight: 100; */  /* especifica grueso de la letra */
}

/* agregar en desafio - insercion de curriculum*/
/* presentacion__contenido__texto a */
.container_content_text a{
    text-decoration: none;
    color: var(--third-color);
}

/* .texto-destacado{
    color: #FF5733;
    font-family: 'Lucida Sans';
 } */

 /* .urgente{
    color: rgb(255, 0, 0);
    padding: 20px;
    border-radius: 15px;
    border : 2px solid-black;
    background-color: rgb(238, 225, 39);
} */

.box-model{
    color:white;
    margin: 5px;
    padding: 5px;
    border: 10px solid var(--first-color);
    font-size:1.25rem; /*20px;*/
    /* border: 5px solid red; */
    /* content: url("https://google.com.co"); */
}

/* presentacion_enlaces */
.enlaces_botones{
    /* justify-content:space-between ; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:32px;
}

.enlaces_botones_link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--third-color);
    width: 50%;  /* 381px; */
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem; /* estaba 24px;*/
    font-weight: 600;
    padding:21.5px 0;
    text-decoration: none;
    color: var(--second-color);
    font-family: var(--monserrat-font);
}

.enlaces_subtitulo{
    font-family: var(--krona-font);
    font-size:1.5rem; /* 24px; */
    font-weight: 400;  /* regular ? */
 }

.enlaces_botones_link:hover{
    background-color: var(--fourth-color);
    cursor: pointer;
}

.container_image{
    width: 50%;
}

/* footer */
.footer{
    color: va(--first-color);
    background-color: var(--third-color);
    padding: 24px; 
    text-align: center;
    font-family: var(--krona-font);
    font-size: 1.5rem; /* estaba 24px;*/
    font-weight: 400;
}

.header_menu_link {
    padding: 10px 15px;
}

.header_menu_link:hover {
    color: var(--blue-hover);
}

/* media queries */
@media (max-width: 1200px){
    .header{
        padding: 10px;
    }
    .header_menu{
        justify-content: center;
    }
    .container{
      flex-direction: column-reverse;   
      padding: 5%;  /* todos los lados arr der abaj izq */
    }
    .container_content{
        width: auto;   
    }
    .container_image{
        display: block;
        margin:auto;
    }
}